.conteudo-container{
    background-color:blue;
    height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;




}


.sonic_freak{

    width: 400px;
    margin-left: 20%;
  

}
.sonic_freak2{

    width: 400px;
  
   margin-right: 80%;


}